.faq {
  padding: 130px 0;
}

.faq-inner {
  @include container;
}

.faq-title {
  @include title-section;
}

.accordion {
  border: 1px solid rgba(255, 45, 45, 0.2);
  border-radius: 4px;
  margin: 20px 0;

  @media (max-width: $mobile-max) {
  margin: 10px 0;

  }
}

.accordion-btn {
  font-size: 36px;
  line-height: 49px;
  font-family: inherit;
  font-weight: 300;
  padding: 25px 50px;
  width: 100%;
  border: none;
  background-color: $white;
  text-align: left;
  color: $dark;
  position: relative;

  @media (max-width: $tablet-max) {
    font-size: 32px;
    line-height: 44px;
    }

    @media (max-width: $mobile-max) {
      font-size: 20px;
      line-height: 27px;
      padding: 25px 70px 25px 30px;

    }


  span {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    transform: translate(-50%, -50%);



    &:before {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: $red;
      top: 0;
      bottom: 0;
      margin:auto;

    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 2px;
      background-color: $red;
      right: 0;
      left: 0;
      margin: 0 auto;
    }

    span.rotate {
      transform: rotate(-45deg);
    }
  }


}


.accordion-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin-top: 25px;
  color: $dark;
  display: none;
  padding: 25px 50px;

  @media (max-width: $tablet-max) {
    font-size: 16px;
    line-height: 22px;
    }

    @media (max-width: $mobile-max) {
      font-size: 14px;
      line-height: 19px;
      padding: 15px 30px;
      margin-top: 0;

    }

}
