.footer {
  background-color: $dark;
  padding: 30px 0;
}

.footer-inner {
  @include container;
}

.footer-wrap {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-direction: column;
    justify-content: center;
  }
}

.phone {
  margin-left: auto;
  text-decoration: none;
  font-size: 28px;
  line-height: 38px;
  color: $white;

  @media (max-width: $mobile-max) {
    margin: 30px auto 15px;
  }
}

.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;

  @media (max-width: $mobile-max) {
    margin: 0 auto;
  }
}

.social-item {
  margin-left: 15px;
}

.social-icon {
  height: 26px;
  width: 26px;
  display: block;

}
.social-link {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon-inst {
  background-image: url('../images/inst.svg');
}

.social-icon-face {
  background-image: url('../images/facebook.svg');
}

.social-icon-twit {
  background-image: url('../images/twitter.svg');
}
