.header {
  background-color: $secondary;
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.logo {
  font-weight: 60;
  font-size: 42px;
  line-height: 57px;
  color: $main;
  text-decoration: none;
  }

.active {
  background-color: $primary;
}

.nav-list {
  display: flex;

  .nav-item {
    list-style: none;
    padding: 33px 25px;
    margin-left: 5px;

    .nav-link {
      font-size: 14px;
      line-height: 24px;
      color: $main;
      text-decoration: none;
      font-weight: 700;

    }

    &:hover {
      background-color: $primary;
    }
  }


}
