.header {
  background-color: $secondary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header-inner {
  @include container;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.logo {
  font-weight: 60;
  font-size: 42px;
  line-height: 57px;
  color: $main;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}

.active {
  background-color: $primary;
}

.header-nav {
  @media (max-width: $mobile-max) {
    display: none;
  }
}

.nav-list {
  display: flex;

  .nav-item {
    list-style: none;
    margin-left: 5px;


    .nav-link {
      display: inline-block;
      padding: 33px 25px;

      font-size: 14px;
      line-height: 24px;
      color: $main;
      text-decoration: none;
      font-weight: 700;

    }

    &:hover {
      background-color: $primary;
    }
  }


}
