.portfolio {
  background-color: #fff;
  padding: 130px 0;
  text-align: center;

  @media (max-width: $tablet-max) {
      padding: 120px 0;
    }

  @media (max-width: $mobile-max) {
    padding: 90px 0;

  }
}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include title-section;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }

}

.portfolio-nav {
  margin-top: 77px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.portfolio-nav-list {
  padding: 0 25px;

  @media (max-width: $tablet-max) {
    margin-bottom: 10px;
  }

  @media (max-width: $mobile-max) {
    margin: 5px;
  }
}

.portfolio-nav-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: $dark;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $red;
  }


}



.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 110px -10px 120px;

  @media (max-width: $tablet-max) {
  margin: 80px -10px;


  }

  @media (max-width: $mobile-max) {

  }


}
.portfolio-list-margin-top {
  margin-top: 40px;

}
.portfolio-item {
  flex-basis: 25%;
  padding: 0 10px;
  margin-bottom: 20px;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;

  }

  @media (max-width: $mobile-max) {
    flex-basis: 100%;
  }
}

.portfolio-card {
  position: relative;
}



.portfolio-link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 0;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
  color: $white;

  @media (max-width: $tablet-max) {
    position: absolute;
    padding: 20px 0;
    font-size: 24px;
    line-height: 33px;
    }

  @media (max-width: $mobile-max) {
    font-size: 24px;
    line-height: 33px;
  }
}

.portfolio-img {
  @media (max-width: $tablet-max) {
    width: 100%;
    }

  @media (max-width: $mobile-max) {

  }
}

.active-text {
  color: $red;
}
