.portfolio {
  background-color: #fff;
  padding: 130px 0;
  text-align: center;
}

.portfolio-inner {
  @include container;
}

.portfolio-title {
  @include title-section;
}

.portfolio-nav {
  margin-top: 77px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.portfolio-nav-list {
  padding: 0 25px;
}

.portfolio-nav-link {
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: $secondary;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: $primary;
  }
}



.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 110px -10px 120px;

}
.portfolio-list-mg {
  margin: 40px -10px 120px;

}
.portfolio-item {
  flex-basis: 25%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.portfolio-card {
  position: relative;
}



.portfolio-link {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 0;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  text-decoration: none;
  color: $main;
}
