.promo {
  background-image: url('../images/promo-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0 214px;
  text-align: center;

}

.promo-inner {
  @include container;
}

.promo-title {
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: $main;
  margin-bottom: 100px;
}


