.promo {
  background-color: #444;
  padding: 200px 0 214px;

}

.promo-inner {
  @include container;
}

.promo-title {
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: $main;
  margin-bottom: 100px;
}


