.reviews {
  padding: 130px 0;
  text-align: center;
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include title-section;

}
.reviews-item {
  margin: 80px 10px 0;
}

.reviews-card {
  display: flex;
  color: $dark;

}

.reviews-ava {
  padding-right: $gap-half;
  flex-basis: 41.66%;
  display: flex;
}

.reviews-img {
  justify-content: flex-end;
  border-radius: 50%;

}

.reviews-name {
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;
  display: block;
}

.review-quote {
  font-size: 24px;
  line-height: 33px;
}


.reviews-text {
  flex-basis: 58.34%;
  padding: 33.5px 0;
  padding-left: $gap-half;
}
