.reviews {
  padding: 130px 0;
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include title-section;
  margin-bottom: 80px;

}
.reviews-item {
}

.reviews-card {
  display: flex;
  color: $dark;
  margin: 0 auto;
  width: 66.66%;
  align-items: center;

  @media (max-width: $mobile-max) {
    flex-wrap: wrap;
    justify-content: center;;

  }

}

.reviews-ava {
  width: 304px;
  height: 304px;
  flex-shrink: 0;

  @media (max-width: $mobile-max){
    flex-basis: 100%;
    justify-content: center;
    margin: 0 auto;
  }
}

.reviews-img {
  max-width: 304px;
  max-height: 304px;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  @media (max-width: $tablet-max){
    margin: 0 auto;
  }
}

.reviews-name {
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 40px;
  display: block;
  font-weight: 400;
}

.review-quote {
  font-size: 24px;
  line-height: 33px;
}


.reviews-text {
  margin-left: $gap;


  @media (max-width: $tablet-max) {
    text-align: center;
    flex-basis: 100%;
    margin-right: 0;
    padding: $gap-half;


  }

}


