@mixin title-section {
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: $secondary;

  @media (max-width: $tablet-max) {
    font-size: 54px;
    line-height: 74px;
  }

  @media (max-width: $mobile-max) {
    font-size: 32px;
    line-height: 44px;
  }

}
