@mixin title-section {
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  color: $dark;


}

@mixin container($width: 1278px) {
  max-width: $width + $gap;
  padding: 0 $gap-half;
  margin: 0 auto;
}
