// Fonts
$font: 'Open Sans' , sans-serif;

// colors
$primary : #FF2D2D;
$secondary: #333333;
$main :      #fff;

// indents
@mixin container($width: 1278px) {
  max-width: $width + 20px;
  padding: 0 10px;
  margin: 0 auto;
  border: 1px solid red;
}

// breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$mobile-max: $tablet - 1;
$tablet-max: $desktop - 1;
