// Fonts
$font: 'Open Sans' , sans-serif;

// colors
$primary : #FF2D2D;
$secondary: #333333;
$main :      #fff;

// indents
@mixin container($width: 1278px) {
  width: $width;
  margin: 0 auto;
  border: 1px solid red;
}

// breakpoints
